.search-panel-face-enter {
  opacity: 0;
  transform: scale(0.9);
  //transform: translateX(-350px);
}

.search-panel-face-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transfform 400ms;
  //transform: translateX(0px);
  //transition: all 500ms ease-in;
}

.search-panel-face-exit {
  opacity: 1;
}

.search-panel-face-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 400ms, transform 400ms;

  //transform: translateX(-350px);
  //transition: all 500ms ease-in;
}